*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', 'Segoe UI', Arial, sans-serif;
    scroll-behavior: smooth;
}

::-webkit-scrollbar{
    display: none;
}


/*-------------------------------------------Nav Menu-------------------------------------------*/

.navPage{
    height: auto;
    width: 100%;
    background: #3742da;
    position: fixed;
    top: 0;
    z-index: 5;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25);
}

.navPage .navMenu{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img{
    margin: 5px 20px;
    width: 5vw;
}

.navPage .navMenu ul{
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 16px;
    list-style: none;
}

.navMenu ul li a{
    text-decoration: none;
    color: #F5F5F5;
    transform: scale(1.2);
    transition: all .5s ease-in-out;
}

.navMenu ul li a:hover{
    font-size: 22px;
}

/*-------------------------------------------Landing Page-------------------------------------------*/

svg {
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
}

.landingPage{
    height: 100vh;
    width: 100vw;
    background: #3742da;
    position: relative;
}

.landingText{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-75%);
}

.landingText p{
    width: 100vw;
    text-align: center;
    color: #fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#IEEE_Text{
    font-size: 75px;
    font-weight: bold;
}

#ADIT_Text{
    font-size: 50px;
}

/*-------------------------------------------About Page-------------------------------------------*/

.aboutPage{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    min-height: 100vh;
    background: #111;
}

.aboutPage .container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 90vw;
    margin: 40px 0;
}

.aboutPage .container .card{
    position: relative;
    width: 320px;
    height: 440px;
    box-shadow: inset 5px 5px 5px #2c76ff33,
                inset -5px -5px 15px #2c76ff1a,
                5px 5px 15px #2c76ff4d,
                -5px -5px 15px #3742da1a;
    border-radius: 15px;
    margin: 30px;
}

.aboutPage .container .card .box{
    position: absolute;
    top: 20px;
    left: 20px;
    right: 20px;
    bottom: 20px;
    background: #2a2b2f;
    border:  2px solid #1e1f23;
    border-radius: 15px;
    box-shadow: 0 20px 50px rgba(0, 0, 0, .5);
    transition: all .5s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.aboutPage .container .card .box:hover{
    transform: scale(1.05)
}


.aboutPage .container .card .box .content{
    padding: 20px;
    text-align: center;
}

.aboutPage .container .card .box .content h2{
    position: absolute;
    top: 0px;
    right: 5px;
    font-size: 6rem;
    color: rgba(255,255,255,0.05);
}

.aboutPage .container .card .box .content h3{
    font-size: 1.8rem;
    color: rgba(255, 255, 255, 0.5);
    z-index: 1;
    transition: 0.5s;
}

.aboutPage .container .card .box .content p{
    margin-top: 15px;
    font-size: 16px;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.5);
    z-index: 1;
    transition: 0.5s;
    text-align: justify;
}

.aboutPage .container .card .box .content a{
    position: relative;
    display: inline-block;
    padding: 8px 20px;
    background: #000;
    margin-top: 15px;
    border-radius: 20px;
    text-decoration: none;
    font-weight: 400;
    color: #fff;
    background: #2c75ff;
}

@media screen and (max-width: 900px){
    /*-------------------------------------------Nav Menu-------------------------------------------*/

    .navPage .navMenu ul{
        font-size: 14px;
        width: 60%;
    }

    .navMenu ul li a:hover{
        font-size: 20px;
    }

    /*-------------------------------------------Landing Page-------------------------------------------*/
    #IEEE_Text{
        font-size: 54px;
    }
    
    #ADIT_Text{
        font-size: 36px;
    }
}

@media screen and (max-width: 600px){
    /*-------------------------------------------Nav Menu-------------------------------------------*/
    
    .navPage .navMenu ul{
        font-size: 12px;
        width: 70%;
    }    

    .navMenu ul li a:hover{
        font-size: 17px;
    }

    /*-------------------------------------------Landing Page-------------------------------------------*/

    #IEEE_Text{
        font-size: 39px;
    }
    
    #ADIT_Text{
        font-size: 26px;
    }
}

@media screen and (max-width: 450px){
    /*-------------------------------------------Nav Menu-------------------------------------------*/
    
    .navPage .navMenu ul{
        font-size: 8px;
        width: 80%;
    }

    .navMenu ul li a:hover{
        font-size: 13px;
    }
    
    /*-------------------------------------------Landing Page-------------------------------------------*/
    
    .landingText p{
        padding: 20px 0 20px 0;
    }

    /*-------------------------------------------About Page-------------------------------------------*/

    .aboutPage .container{
        margin: 0;
    }

    .aboutPage .container .card{
        margin: 5px;
        height: 400px;
        margin-bottom: 30px;
    }

    .aboutPage .container .card:last-child{
        height: 355px;
    }

    .aboutPage .container .card .box .content{
        padding: 10px;
    }

    .aboutPage .container .card .box .content h2{
        right: 5px;
        font-size: 4.5rem;
    }

    .aboutPage .container .card .box .content h3{
        font-size: 1.35rem;
        padding-top: 13px;
    }

    .aboutPage .container .card .box .content p{
        font-size: 14px;
    }

}